<div class="container">
<% provide(:title, "Forgot password") %>
<h2 class="page-header">Forgot password</h2>
  <div class="col-xs-4">
    <div class="ui form">
      <h3>
  <% if flash[:color]== "valid" %>
      <div class="valid_notice">
        <p><%= flash[:notice]%></p>
      </div>
  <% elsif flash[:color]== "invalid"%>
      <div class="invalid_notice">
        <p><%=flash[:notice]%></p>
      </div>
  <%else%>
      <div class="notice">
        <p><%=flash[:notice]%></p>
      </div>
  <%end%>
        <br/>
      <%= form_for(:user, url: password_resets_create_path) do |f| %>

        <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
          </div>
        <div class="field">
              <button type="submit" name="commit"  class="huge ui teal icon button">
                <i class="external share icon"></i>Send Activation link</button>
        </div>
      </h3>
      <% end %>

    </div>
  </div>
</div>