<div class="container">

  <h2 class="page-header">New Post</h2>
    <button id="mrg_btm" class="big ui button" onclick="RedirectToArticles()">
      <i class="arrow circle outline left icon"></i>Back</button>

	<%= form_for :article, class:"form form-horizontal",  url:articles_path do |f| %>
	<div class="form-group">
    <label>Title <label id="lbl_red">*</label></label>
		<br>
		<%= f.text_field :title, placeholder: "Enter your title...",  class:'form-control',onkeydown:'hideError()',onpaste:'hideError()' %>
    <% if @article != nil && @article.errors.any? %>
        <div class="ui pointing red basic label">
          <% for message_error in @article.errors.full_messages %>
              <%= message_error %>
          <% end %>
        </div>
    <% end %>
  </div>
	<div class="form-group">
    <%= f.label :text %>
    <br>
    <textarea id="text" name="article[text]" class='redactor form-control' rows="10" placeholder="Enter text ..."></textarea>
  </div>
  <div class="form-group">
    <%= f.label :Add_Attachment %>
    <br>
    <%= f.file_field :attach_file, class:'form-control' %>
  </div>


  <div class="form-group">
        <label for="select_topic">Topic</label>
        <select  id="select_topic" name="article[topic_name]" class="demo-default" placeholder="Select a topic...">
          <option value="">Select a topic...</option>
          <% @topics.each do |topic| %>
            <option value="<%= topic.topic_name%>"><%= topic.topic_name %></option>
          <% end %>
        </select>
  </div>
  <div class="form-group">
        <label for="input_tags">Tags</label>
        <input type="text" id="input_tags" name="article[Tags]" class="demo-default">
  </div>

	<div class="form-group">
      <button type="submit" name="commit"  class="huge ui positive icon button">
        <i class="save icon"></i>Save</button>
	</div>
	<% end %>
</div>

<script>

  function hideError() {
      document.getElementsByClassName('ui pointing red basic label')[0].style.visibility='hidden';
      document.getElementsByClassName('ui pointing red basic label')[0].style.margin='0';
  }

  function RedirectToArticles() {
    window.location = "<%= articles_url %>"
  }



  $('#input_tags').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  });

  $('#select_topic').selectize({
    create: true,
    sortField: {
      field: 'text',
      direction: 'asc'
    },
    dropdownParent: 'body'
  });
</script>