<div class="container">
<div class="page-header">
  <span style="font-size: large; font-weight: bold">New Ad</span>
  <span class="btn btn-link" style="float:right"><%= link_to 'Back to Ads', posts_path %></span>
</div>

  <%= form_for @post ,html: { multipart: true } do |f|%>
      <% if @post.errors.any? %>
          <div class="alert alert-danger" id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> : </h2>

            <ul>
              <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class=" form-group">
        <label>Title <label id="title">*</label></label>
        <%= f.text_field :title, class:'form-control', required: true %>
      </div>

<br />

      <div class="form-group">
        <%= f.label :Description %>
        <br>
        <textarea id="desc" name="post[desc]" class='redactor form-control' rows="10" placeholder="Enter Description (Min 20 words)"></textarea>
      </div>


      <br />
      <div class=" form-group">
        <%= f.label :Image %>
        <%= f.file_field :image, class:'' %>
      </div>


      <br /> <br />
      <div class="field">


        <%= f.radio_button :forSale, "sell", :checked => true %>
        <%= f.label :Sell %>

        <br />

        <%= f.radio_button :forSale, "exchange" %>
        <%= f.label :Exchange %>


      </div>



      <br /><br />


      <div class=" form-group" id="cost">
        <label>Cost <label id="cost">*</label></label>
        <%= f.text_field :cost, class:'form-control' %>
      </div>


      <div class=" form-group" id="exch">
        <label>Which book would you like in return? <label id="exch">*</label></label>
        <%= f.text_field :bookexpected, class:'form-control' %>
      </div>



      <br />

     <!-- <div class=" form-group">
        <%= f.label :topic %>
        <%= f.text_field :topic, class:'form-control' %>
      </div>-->


      <br />


      <div class="field">
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>



      <div class="actions">
        <%= f.submit "Create Ad", class: 'btn btn-primary'  %>
      </div>
  <% end %>

</div>



<script type="text/javascript">



$(document).ready(function(){


  $("#exch").hide();

  $("input:radio[name='post[forSale]']").change(function(){

    if(this.value == 'exchange' && this.checked){
      $("#cost").hide();
      $("#exch").show();
    }else{
      $("#cost").show();
      $("#exch").hide();
    }

  });

});





</script>