<div class="container">
  <div class="page-header">
    <span style="font-size: large; font-weight: bold"> <%= @post.title %>

    </span>
    <span class="btn btn-link" style="float:right"><%= link_to 'Back to Ads', posts_path %></span>
  </div>

  <table>
    <tr style="">

      <!--along with td image is also responsive now-->
      <td style="width: 250px">
        <% if @post.image_file_name.nil? %>
            <span style="margin-right: 20px">  <%= image_tag('/No_Image.png', width: '92%', class: "img-rounded") %> </span>
        <% else %>
            <span style="margin-right: 20px"><%= image_tag(@post.image, :alt => "No Image", width: '92%', class: "img-rounded") %></span>
        <% end %>
      </td>
      <td style="vertical-align: text-top;">
        <p>
          <strong>Description:</strong>
          <%= @post.detail %>
        </p>

      <span><strong>Posted by: </strong>
        <% if current_user.id == @post.user_id %>
        <span>You</span>
            <!--If added by current user -->
      <% else %>
        <span><%= User.find_by(id: @post.user_id).name %></span>
      <% end %>
    </span>

        <br><br>

        <p id="p_Modified_Teal">
          <spanp>&#8364;  </spanp>
          <% if @post.cost.nil? %>
              0
          <% else %>
              <%= @post.cost %>
          <% end %>
        </p>


        <br><br>

        <p>
          <% if (current_user.id == @post.user_id) %>
              <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %>
          <% end %>
        </p>

      </td>
      <td>
      </td>
    </tr>
  </table>

  <hr>
  <!--Add a Comment -->
  <div class="well">
    <h3>Leave a Comment:</h3>
    <%= form_for([@post, @post.ad_comments.build]) do |f| %>
        <p>
          <%= f.text_area :comment_body, class:'form-control' %>
        </p>
        <p>
          <button type="submit" name="commit"  class="huge ui positive icon button">
            <i class="save icon"></i>Add Comment</button>
        </p>
    <% end %>
  </div>

  <h3 class="page-header">Comments</h3>
  <!-- Comment -->
  <% @post.ad_comments.each do |comment| %>
      <% if !comment.user_id.nil? %>
          <div class="media">
            <% if User.find(comment.user_id).profile_pic_file_name.nil? %>
                <a class="pull-left" href="#">
                  <%= image_tag('/Profile_Avatar.png', :id =>"Image_Tag_Thumbnail", :class =>"media-object", :alt => "No Image") %>
                </a>
            <%else%>
                <a class="pull-left" href="#">
                  <%= image_tag(User.find(comment.user_id).profile_pic,:id =>"Image_Tag_Thumbnail", :alt => "No Image") %>
                </a>
            <%end%>
            <div class="media-body">
              <h2 class="media-heading"><%= User.find(comment.user_id).username  %>
                <small><%= comment.created_at.to_datetime.strftime("%b %d, %Y at %r")  %></small>
              </h2>
              <%= comment.comment_body  %>
            </div>
          </div>
          <br/>
      <%end%>
  <%end%>


</div>