<% @page_title = "changePass | Change_Password" %>
<div class="Password_Change_Form">
  <div class="container">
    <h1 class="page-header">Change Password</h1>
    <button id="mrg_btm" class="big ui button" onclick="RedirectToProfiles()">
      <i class="arrow circle outline left icon"></i>Back</button>
    <hr>
    <!-- Display FLash Errors in Form if Any-->
    <div class="panel-body">
      <div class="col-xs-8">
      <% if flash[:color]== "valid" %>
          <div class="valid_notice">
            <p><%= flash[:notice]%></p>
          </div>
      <% elsif flash[:color]== "invalid"%>
          <div class="invalid_notice">
            <p><%=flash[:notice]%></p>
          </div>
      <%else%>
          <div class="notice">
            <p><%=flash[:notice]%></p>
          </div>
      <%end%>
      <!-- Display Change Password Form-->

      <div class="ui form">
      <%= form_for :user, class:"form form-horizontal",  url:profile_update_password_path(current_user), method: :patch  do |f| %>
            <h3>
          <div class="field">
            <%= f.label :Current_Password, class: 'control-label' %>
            <%= f.password_field :current_password,id:"current_password", class: 'form-control' %>
          </div>
           <div class="field">
            <%= f.label :Password, class: 'control-label' %>
            <%= f.password_field :password,id:"password", class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :Password_Confirmation, class: 'control-label' %>
            <%= f.password_field :password_confirmation,id:"password_confirmation", class: 'form-control' %>
          </div>
          <div class="field">
              <button type="submit" name="commit"  class="huge ui teal icon button">
                <i class="save icon"></i>Change Password</button>
            </div>
      <% end %>
        </h3>
    </div>
    </div>
</div>
    <!-- Display Errors in Form Validation if Any-->
    <div class="col-sm-push-4 col-sm-4">
      <% if @user != nil && @user.errors.any? %>
          <ul class="Signup_Errors">
            <% for message_error in @user.errors.full_messages %>
                <li>* <%= message_error %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</div>
<script>

  function RedirectToProfiles() {
    window.location = "<%= profile_index_path %>"
  }
</script>