<div class="container">
  <div class="row">
    <!-- Title -->
    <h1 class="page-header">Edit Profile</h1>
    <button id="mrg_btm" class="big ui button" onclick="RedirectToProfiles()">
      <i class="arrow circle outline left icon"></i>Back</button>
<hr>
    <div class="col-xs-8">
      <div class="ui form">
  <%= form_for :user, class:"form form-horizontal",  url:profile_update_path(current_user), method: :patch do |f| %>
            <h3>
      <div class="field">
        <%= f.label :Full_Name %>
        <br>
        <%= f.text_field :name, class:'form-control', value: current_user.name,maxlength: '30' %>
      </div>
      <div class="field">
        <%= f.label :Username %>
        <br>
        <%= f.text_field :username, class:'form-control', value: current_user.username,maxlength: '20' %>
      </div>
      <div class="field">
        <%= f.label :Email %>
        <br>
        <%= f.text_field :email, class:'form-control', value: current_user.email,maxlength: '30' %>
      </div>
      <div class="field">
        <%= f.label :Address %>
        <br>
        <%= f.text_field :address, class:'form-control', value: current_user.address,maxlength: '50' %>
      </div>
      <div class="field">
        <%= f.label :Upload_Profile_Picture %>
        <br>
        <%= f.file_field :profile_pic, class:'field' %>
      </div>
      <div class="field">
        <button type="submit" name="commit"  class="huge ui teal icon button">
          <i class="save icon"></i>Save</button>
      </div>
  <% end %>
        </h3>
</div>
</div>
  <!-- Display Errors in Form if Any-->
  <div class="col-sm-push-4 col-sm-4">
    <% if @user != nil && @user.errors.any? %>
        <ul class="Signup_Errors_small">
          <% for message_error in @user.errors.full_messages %>
              <li>* <%= message_error %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
</div>
<script>

  function RedirectToProfiles() {
    window.location = "<%= profile_index_path %>"
  }
</script>
