<% provide(:title, "My Profile") %>
<div class="container">
  <div class="row">
    <!-- Title -->
    <h1 class="page-header">My Profile</h1>

    <div class="ui buttons">
      <button class="big ui button" onclick="RedirectToEditProfiles()">
        <i class="edit left icon"></i>Edit Profile</button>
          <div class="or"></div>
      <button class="big ui button" onclick="RedirectToChangePassword()">
            <i class="asterisk icon"></i>Change Password</button>
    </div>
    <hr>
  <div class="panel-body">
    <!-- Display Errors in Form if Any-->
    <% if flash[:color]== "valid" %>
        <div class="valid_notice">
          <p><%= flash[:notice]%></p>
        </div>
    <% elsif flash[:color]== "invalid"%>
        <div class="invalid_notice ">
          <p><%=flash[:notice]%></p>
        </div>
    <%else%>
        <div class="notice">
          <p><%=flash[:notice]%></p>
        </div>
    <%end%>
    <div class="col-xs-12">
    <table width="100%">
      <tr><td width="30%">
      <% if current_user.profile_pic_file_name.nil? %>
             <%= image_tag('/default_profile_pic.png', :id =>"Image_Tag", :alt => "No Image", :class=> "img-circle") %>
      <%else%>
             <%= image_tag(current_user.profile_pic,:id =>"Image_Tag",  :alt => "No Image", :class=> "img-circle") %>
      <%end%>
      </td><td>
    <div class="ui form">
    <div class="field">
      <h3>
        <label>Full Name </label>
        <input placeholder="<%= current_user.name %>" readonly="" type="text">
      </h3>
    </div>
    <div class="field">
      <h3>
        <label>Username</label>
        <input placeholder="<%= current_user.username %>" readonly="" type="text">
      </h3>
    </div>
    <div class="field">
      <h3>
        <label>Email Address</label>
        <input placeholder="<%= current_user.email %>" readonly="" type="text">
      </h3>
    </div>
    <div class="field">
      <h3>
        <label>Address</label>
        <input placeholder="<%= current_user.address %>" readonly="" type="text">
      </h3>
    </div>
    </div>
      </td>
      </tr>
      </table>
    </div>
  </div>
</div>
</div>

<script>

  function RedirectToEditProfiles() {
    window.location = "<%= profile_edit_path %>"
  }

  function RedirectToChangePassword() {
    window.location = "<%= profile_change_password_path %>"
  }

</script>